@import "../defaults/color";
@import "../components/header";
@import "../components/footer";
@import "../components/utilsthree";

body {
    @include body-content-two();
}

/*This is the main body styling for the Blogs page*/
/*The articles are styled to stand out against the background colour*/

main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .topic-name {
        font-size: 30px;
        font-weight: 600px;
        text-align: center;
    }

    article {
        border-radius: 10px;
        overflow: hidden;
        margin: 10px;
        margin-top: 50px;
        background-color: $primary-color;
        padding: 24px;
        text-align: center;
        box-shadow: 0 0 8px 3px $secondary-color;

        section {

            .blog-image {
                width: 300px;
                height: 200px;
                border-radius: 16px;
            }

            .blog-post-link {
                height: 60px;
                min-width: 120px;
                background-color: $primary-background;
                border-radius: 2px;
                border: none;
                outline:none;
                font-size: 20px;
                text-decoration: none;
            }
        }
    }
}