/*These are the main colours that are used thorugh-out the site*/
@import "../defaults/color.css"; /*Breakpoints for screen sizes*/
/*These are sizes that are often used to chage, some css pages have there own widths due to the content and styling of the main body*/
/*This is the main header for the website*/
header {
  background-color: #C9D4C6;
  text-align: center;
  padding: 20px;
  border-radius: 30px;
  border: 1px solid #335533;
  margin: 10px;
}
header .nav-items {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 40px;
}
header .nav-items .nav-about {
  transition: 2s;
  text-decoration: none;
}
header .nav-items .nav-about:hover {
  transform: scale(1.1);
}
header .nav-items .nav-projects {
  transition: 2s;
  text-decoration: none;
}
header .nav-items .nav-projects:hover {
  transform: scale(1.1);
}
header .nav-items .nav-blogs {
  transition: 2s;
  text-decoration: none;
}
header .nav-items .nav-blogs:hover {
  transform: scale(1.1);
}
header .nav-items .nav-contact {
  transition: 2s;
  text-decoration: none;
}
header .nav-items .nav-contact:hover {
  transform: scale(1.1);
}
header .nav-items a.nav-items {
  color: black;
}
header .nav-items a:visited {
  color: #335533;
}

@media screen and (max-width: 600px) {
  header {
    display: flex;
    align-items: flex-end;
  }
  header .nav-items {
    font-size: 20px;
    text-align: center;
  }
}
/*These are the main colours that are used thorugh-out the site*/ /*Breakpoints for screen sizes*/
/*These are sizes that are often used to chage, some css pages have there own widths due to the content and styling of the main body*/
/*This is the main footer styling for the website*/
footer {
  background-color: #C9D4C6;
  text-align: center;
  padding: 20px;
  border-radius: 30px;
  border: 1px solid #335533;
  margin: 10px;
  margin-left: 200px;
  margin-right: 200px;
}
footer .social-media {
  display: flex;
  justify-content: space-around;
  font-size: 25px;
  transition: 2s;
  color: black;
}

@media screen and (max-width: 600px) {
  footer {
    margin-left: 100px;
    margin-right: 100px;
  }
  footer .social-media {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
  }
}
/*Blogs body styling is different to all other bodys since the screen is split with two colours*/
body {
  background-image: linear-gradient(to bottom, #EBE1D9 0%, #EBE1D9 15%, #335533 0%, #335533 85%);
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  body {
    background-image: linear-gradient(to bottom, #EBE1D9 0%, #EBE1D9 5%, #335533 0%, #335533 95%);
  }
}
/*Grid is used to style this page to make text clear for the blog page*/
main {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 100px 50px 1fr;
  margin-bottom: 50px;
}
main .blog-heading {
  background-color: #C9D4C6;
  grid-column: 1/-1;
  grid-row: 1/3;
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}
main .date {
  background-color: #EBE1D9;
  padding: 20px;
  grid-column: 2/3;
  grid-row: 2/-1;
}/*# sourceMappingURL=blogs.css.map */