@import "../defaults/color.css";
header {
  background-color: #EBE1D9;
  text-align: center;
  padding: 20px;
  border-radius: 30px;
  border: 1px solid #335533;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}
header .nav-items {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 40px;
}
header .nav-items .nav-about {
  transition: 2s;
  text-decoration: none;
}
header .nav-items .nav-about:hover {
  transform: scale(1.1);
}
header .nav-items .nav-projects {
  transition: 2s;
  text-decoration: none;
}
header .nav-items .nav-projects:hover {
  transform: scale(1.1);
}
header .nav-items .nav-blogs {
  transition: 2s;
  text-decoration: none;
}
header .nav-items .nav-blogs:hover {
  transform: scale(1.1);
}
header .nav-items .nav-contact {
  transition: 2s;
  text-decoration: none;
}
header .nav-items .nav-contact:hover {
  transform: scale(1.1);
}
header .nav-items a.nav-items {
  color: black;
}
header .nav-items a:visited {
  color: #335533;
}

@media screen and (max-width: 600px) {
  header {
    display: flex;
    align-items: flex-end;
  }
  header .nav-items {
    font-size: 20px;
    text-align: center;
  }
}
footer {
  background-color: #EBE1D9;
  text-align: center;
  padding: 20px;
  border-radius: 30px;
  border: 1px solid #335533;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 200px;
  margin-right: 200px;
}
footer .social-media {
  display: flex;
  justify-content: space-around;
  font-size: 25px;
  transition: 2s;
}

@media screen and (max-width: 600px) {
  footer {
    margin-left: 100px;
    margin-right: 100px;
  }
  footer .social-media {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
  }
}
body {
  background-color: #C9D4C6;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main .form-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main form {
  margin-bottom: 50px;
}
main form .form-elements {
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;
}
main form .form-elements label {
  font-size: 1.6rem;
}
main form .form-elements .form-input {
  border: 1px solid #C9D4C6;
  border-radius: 4px;
  border-color: #335533;
  outline: none;
  font-size: 1.2rem;
}
main form .form-elements .form-input:not(.form-textarea) {
  height: 50px;
  width: 400px;
}
main form .form-elements .form-input.form-textarea {
  resize: none;
}
main form .form-elements .form-input:focus {
  box-shadow: 0 0 8px 3px #335533;
}
main form .btn-div {
  text-align: center;
}
main form .btn-div #send {
  height: 60px;
  min-width: 120px;
  background-color: #EBE1D9;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 1.2rem;
}
main form .btn-div #send:hover {
  cursor: pointer;
}
@media screen and (min-width: 600px) {
  main main form .form-elements {
    flex-direction: row;
    justify-content: space-between;
  }
  main main form .form-elements .form-input {
    width: 100%;
  }
}/*# sourceMappingURL=contact.css.map */