@import "../defaults/color";
@import "../defaults/breakpoint";


header {
    background-color: $primary-background;
    text-align: center;
    padding: 20px;
    border-radius: 30px;
    border: 1px solid $secondary-color;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;

    .nav-items {
        width: 100%;
        display: flex;
        justify-content: space-around;
        font-size: 40px;
    
        .nav-about {
            transition: 2s;
            text-decoration: none;
        }

        .nav-about:hover {
            transform: scale(1.1);
        }

        .nav-projects {
            transition: 2s;
            text-decoration: none;
        }

        .nav-projects:hover {
            transform: scale(1.1);
        }

        .nav-blogs {
            transition: 2s;
            text-decoration: none;
        }

        .nav-blogs:hover {
            transform: scale(1.1);
        }

        .nav-contact {
            transition: 2s;
            text-decoration: none;
        }

        .nav-contact:hover {
            transform: scale(1.1);
        }

        a.nav-items {
            color: black;
    
        }

        a:visited {
            color: $secondary-color;
        }
    }
}

@media screen and (max-width: $medium) {
    header {
        display: flex;
        align-items: flex-end;

        .nav-items {
        font-size: 20px;
        text-align: center;
        }
    }
}

body {
    background-color: $primary-color;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}




main {

    .form-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    form {

        margin-bottom: 50px;

        .form-elements {
            display: flex;
            flex-direction: column;
            margin-bottom: 28px;

            label {
                font-size: 1.6rem;
            }

            .form-input {
                border: 1px solid $primary-color;
                border-radius: 4px;
                border-color: $secondary-color;
                outline: none;
                font-size: 1.2rem;

                &:not(.form-textarea) {
                    height: 50px;
                    width: 400px;
                }

                &.form-textarea {
                    resize: none;
                }

                &:focus {
                    box-shadow: 0 0 8px 3px $secondary-color;
                }

            }
        }

        .btn-div {
            text-align: center;

            #send {
                height: 60px;
                min-width: 120px;
                background-color: $primary-background;
                border-radius: 8px;
                border: none;
                outline:none;
                font-size: 1.2rem;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

@media screen and (min-width: $medium) {
    main {
        form {

            .form-elements {
                flex-direction: row;
                justify-content: space-between;

                .form-input {
                    width: 100%;
                }
            }
        }
    }
}

}






footer {
    background-color: $primary-background;
    text-align: center;
    padding: 20px;
    border-radius: 30px;
    border: 1px solid $secondary-color;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;


    margin-left: 200px;
    margin-right: 200px;

    .social-media {
        display: flex;
        justify-content: space-around;
        font-size: 25px;
        transition: 2s;
    }
}

@media screen and (max-width: $medium) {
    footer {
        margin-left: 100px;
        margin-right: 100px;

        .social-media {
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            font-size: 20px;
        }
    }
}