/*These imports are all relative to make this page work*/

@import "../defaults/color";
@import "../components/headertwo";
@import "../components/footertwo";
@import "../components/utilstwo";

/*This is the body styling for this page*/
body {
    @include body-content-one();
}

/*This is the styling for the main section of the HTML doco. There are many componments to this styling*/

main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

/* Container helps break up the sections to aid in the styling */

        .container {
            width: 80%;
            background: $primary-background;
            border-radius: 10px;
            padding: 20px 60px 40px 40px;
            box-shadow: 0px 5px 10px $secondary-color;

            .content {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .left-side {
                    width: 25%;
                    height: 100%;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .details {
                        margin: 14px;
                        text-align: center;

                        .topic {
                            font-size: 25px;
                            font-weight: 600px;
                            color: $secondary-color;
                        }

                        .topic-name {
                            font-size: 30px;
                            font-weight: 600px;
                        }
                    }
                }

                .right-side {
                    width: 75%;
                    margin-left: 75px;
                    margin-top: 20px;

                    .heading-text {
                        font-size: 30px;
                        font-weight: 700;
                        color: $secondary-color;
                        text-align: center;
                    }

                    .message {
                        text-align: center;
                        font-size: 18px;
                        margin-top: 5px;
                        margin-bottom: 5px;
                    }
/*This styling is for the form element on the page and effects are added to help emphasis and establish different parts of the HTML*/
                    .form-elements {
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 20px;
            
                        label {
                            font-size: 1.3rem;
                        }
                    }

                    .form-input {
                        height: 50px;
                        width: 100%;
                        border: 1px solid $primary-color;
                        border-radius: 4px;
                        border-color: $secondary-color;
                        outline: none;
                        font-size: 1.2rem;
        
                        &.form-textarea {
                            resize: none;
                            min-height: 110px;
                        }
        
                        &:focus {
                            box-shadow: 0 0 8px 3px $secondary-color;
                        }
                    }

                    .btn-div {
                        text-align: center;
            
                        #send {
                            height: 60px;
                            min-width: 120px;
                            background-color: $primary-color;
                            border-radius: 8px;
                            border: none;
                            outline:none;
                            font-size: 1.2rem;
            
                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }


/*This is the media screen for this page. It has its own widths since its structure is differnt to other pages and as its own pixel widths for when this need to be moved*/

@media screen and (max-width: 750px) {

    .container {
        margin: 40px 0;
        height: 100%;
        width: 90%;
        padding: 30px 35px 40px 35px;

        .content {
            flex-direction: column-reverse;

            .right-side {
            width: 100%;
            margin-left: 0;
            }

            .left-side {
                width: 100%;
                flex-direction: column;
                margin-top: 40px;
                justify-content: center;
                flex-wrap: wrap;
            }
        }
    } 
}