/*This is the main styling for the home page*/

main {
    section {
        .forest {
            img {
                height: 400px;
                width: 100%;
            }
        }

        .home-text {
            font-size: 25px;
            text-align: center;
        }
    }
} 