main {
    section {
        .forest {
            img {
                height: 350px;
                width: 100%;
                margin-bottom: 20px;
            }
        }

        .home-text {
            font-size: 25px;
            text-align: center;
        }
    }
}