@import "../defaults/color";
@import "../defaults/breakpoint";
@import "../components/utils";

footer {
    @include background-content();

    margin-left: 200px;
    margin-right: 200px;

    .social-media {
        display: flex;
        justify-content: space-around;
        font-size: 25px;
        transition: 2s;
        color: black;
    }
}

@media screen and (max-width: $medium) {
    footer {
        margin-left: 100px;
        margin-right: 100px;

        .social-media {
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            font-size: 20px;
        }
    }
}