@import "../defaults/color";
@import "../defaults/breakpoint";

/*A second footer styling was needed since multiple pages and this one styling which is different to the homwpage css*/

footer {
    background-color: $primary-background;
    text-align: center;
    padding: 20px;
    border-radius: 30px;
    border: 1px solid $secondary-color;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;


    margin-left: 200px;
    margin-right: 200px;

    .social-media {
        display: flex;
        justify-content: space-around;
        font-size: 25px;
        transition: 2s;

        a {
            color: black
        }

        a:visited {
            color: $secondary-color;
        }
    }
}

@media screen and (max-width: $medium) {
    footer {
        margin-left: 100px;
        margin-right: 100px;

        .social-media {
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            font-size: 20px;
        }
    }
}