@import "../defaults/color.css";
@import "../defaults/breakpoint";
@import "../components/utils";

/*This is the main header for the website*/

header {
    @include background-content();

    .nav-items {
        width: 100%;
        display: flex;
        justify-content: space-around;
        font-size: 40px;

        a {
            color: black;
        }
    
        .nav-about {
            text-decoration: none;
        }

        .nav-about:hover {
            transform: scale(1.1);
        }

        .nav-projects {
            text-decoration: none;
        }

        .nav-projects:hover {
            transform: scale(1.1);
        }

        .nav-blogs {
            text-decoration: none;
        }

        .nav-blogs:hover {
            transform: scale(1.1);
        }

        .nav-contact {
            text-decoration: none;
        }

        .nav-contact:hover {
            transform: scale(1.1);
        }

        a:visited {
            color: $secondary-color;
        }
    }
}

@media screen and (max-width: $medium) {
    header {
        display: flex;
        align-items: flex-end;

        .nav-items {
        font-size: 20px;
        text-align: center;
        }
    }
}