@import "./defaults/color.scss";
@import "./components/utils.scss";
/*@import "./components/header.scss";
@import "./components/footer.scss";*/

@mixin background-content() {
    background-color: $primary-color;
    text-align: center;
    padding: 20px;
    border-radius: 30px;
    border: 1px solid $secondary-color;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

body {
    background-color: $primary-background;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    @include background-content();

    .nav-items {
        width: 100%;
        display: flex;
        justify-content: space-around;
        font-size: 40px;

        .bamboo-home {
            @media screen and (max-width: 600px) {
                margin-bottom: 24px;
            }
        }
    
        .nav-about {
            transition: 2s;
        }

        .nav-about:hover {
            transform: scale(1.1);
        }

        .nav-projects {
            transition: 2s;
        }

        .nav-projects:hover {
            transform: scale(1.1);
        }

        .nav-blogs {
            transition: 2s;
        }

        .nav-blogs:hover {
            transform: scale(1.1);
        }

        .nav-contact {
            transition: 2s;
        }

        .nav-contact:hover {
            transform: scale(1.1);
        }

        a.nav-items {
            color: black;
            text-decoration: none;
        }

        a:visited {
            color: $secondary-color;
        }
    }
}

@media screen and (max-width: 600px) {
    header {
        display: flex;
        align-items: flex-end;

        .nav-items {
        font-size: 20px;
        text-align: center;
        }
    }
}


main {
    section {
        .forest {
            img {
                height: 350px;
                width: 100%;
                margin-bottom: 20px;
            }
        }

        .home-text {
            font-size: 25px;
            text-align: center;
        }
    }
}

footer {
    @include background-content();

    margin-left: 200px;
    margin-right: 200px;

    .social-media {
        display: flex;
        justify-content: space-around;
        font-size: 25px;
        transition: 2s;
        color: black;
    }
}

@media screen and (max-width: 600px) {
    footer {
        margin-left: 100px;
        margin-right: 100px;

        .social-media {
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            font-size: 20px;
        }
    }
}

/*@media screen and (min-width: 1000px) {
    footer {
        margin-left: 300px;
        margin-right: 300px;
    }
}*/

